@page
@model MovieWebsite.Pages.MoviePages.IndexModel
@{

	<h1 class="text-primary">Movie List</h1>
	<div class="container col-12 p-3 m-3">
		<form method="post">
			@if (Model.Movies.Count() > 0)
			{
				<table class="table table-striped border">
					<tr>
						<th>
							<label asp-for="Movies.FirstOrDefault().Name"></label>
						</th>
						<th>
							<label asp-for="Movies.FirstOrDefault().Year"></label>
						</th>
						<th>
							<label asp-for="Movies.FirstOrDefault().Rented"></label>
						</th>
						<th>

						</th>
					</tr>
					@foreach (var item in Model.Movies)
					{
						<tr>
							<td>
								@Html.DisplayFor(m => item.Name)
							</td>
							<td>
								@Html.DisplayFor(m => item.Year)
							</td>
							<td class="col-sm-1">
								@Html.DisplayFor(m => item.Rented)
							</td>
							<td class="col-sm-3">
								@if (item.Rented == false)
								{
									<button asp-page-handler="Rent" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Rent</button>
								}
								else
								{
									<button asp-page-handler="Rent" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Return</button>
								}
								<button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm">Delete</button>
								<a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white">Edit</a>
							</td>
						</tr>
					}
				</table>
			}
			else
			{
				<p>No movies to display</p>
			}
		</form>
	</div>


	<div class="container">
		<div class="col-9">
		</div>
		<div class="col-3 offset-9">
			<a asp-page="Create" class="btn btn-primary text-white form-control">Add a New Movie</a>
		</div>
	</div>
}
